.topcontainer{
    background-color: rgba(61, 125, 97, 0.353);
    margin-bottom: 0px;
    padding-bottom: 1px;
    padding: 10px;
}
#features{
    background-color: rgba(61, 125, 97, 0.353);
    padding-bottom: 1px;
}
#projects{
    background-color: rgba(61, 125, 97, 0.353);
    padding-bottom: px;
}
